:where(*) {
  box-sizing: border-box;
}

:focus:not(:focus-visible) {
  outline: 0;
}

:where(:focus-visible) {
  outline: 4px dashed black;
  outline-offset: 1px;
}

:where(.content) a {
  @media screen {
    &:focus-visible {
      outline-offset: 4px;
    }
  }

  @media print {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
}

a[target="_blank"] svg {
  vertical-align: middle;
  margin-left: 0.25rem;
}

a {
  text-underline-offset: 4px;

  &:hover {
    text-decoration: none;
  }
}

ul {
  @media screen {
    &.list {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    &:where(:not(.list)) {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

svg {
  @media print {
    display: none;
  }
}

summary {
  @media screen {
    cursor: pointer;
    line-height: 1;
    font: inherit;
  }
}

abbr[title] {
  text-underline-offset: 4px;
}

.visually-hidden {
  @media screen {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  @media print {
    display: none;
  }
}

:root {
  color-scheme: dark;
  display: grid;
  font-size: calc((18 / 16) * 100%);
  height: 100%;
  line-height: 1.5;
  overflow: hidden;
  overscroll-behavior: none;
  font-family: system-ui, sans-serif;

  @media (max-width: 320px) {
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-wrap: anywhere;
  }
}

body {
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;

  @media screen {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: canvas;
    color: canvastext;
  }
}

:host {
  display: contents;
}

.root {
  display: grid;
  grid-template-rows: auto minmax(0px, 1fr) auto;
  height: 100%;
  container-name: root;
  container-type: size;
}

.top,
.bottom {
  background: rgb(208, 173, 240);
}

.top,
.bottom {
  padding: 1rem;
  padding-left: calc(1rem + env(safe-area-inset-left));
  padding-right: calc(1rem + env(safe-area-inset-right));
}

.menu {
  background-color: black;
  padding: 1rem;
  padding-left: calc(1rem + env(safe-area-inset-left));
}

.main {
  padding: 1rem;
  padding-right: calc(1rem + env(safe-area-inset-right));

  @container (width > 720px) {
    padding: 3rem;
    padding-right: calc(3rem + env(safe-area-inset-right));
  }
}

.top {
  padding-top: 1rem;
  padding-top: calc(1rem + env(safe-area-inset-top));
}

.bottom {
  padding-bottom: 1rem;
  padding-bottom: calc(1rem + env(safe-area-inset-bottom));
}

.top {
  touch-action: none;
  display: grid;

  @container (width <= 720px) {
    grid-template-columns: minmax(0px, 1fr) auto;
    align-items: center;
    gap: 1rem;
  }
}

.middle {
  display: grid;
  height: 100%;

  @container (width <= 720px) {
    grid-template-rows: 100%;
  }

  @container (width > 720px) {
    grid-template-columns: 280px minmax(0px, 1fr);
  }
}

.menu,
.main {
  display: grid;
  overflow-y: auto;
}

.main {
  container-name: main;
  container-type: size;
}

@container (width <= 720px) {
  :has(#menu-visibility-switch:not(:checked)) .menu {
    display: none;
  }

  :has(#menu-visibility-switch:checked) .main {
    display: none;
  }
}

#menu-visibility-switch:not(:checked) ~ [data-if-checked] {
  display: none;
}

#menu-visibility-switch:checked ~ [data-if-unchecked] {
  display: none;
}

@container (width > 720px) {
  .content {
    width: 100%;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
  }
}

.bottom {
  touch-action: none;
}

.switch {
  padding: 0.5rem;
  cursor: pointer;
  border: 4px solid canvas;
  border-radius: 5px;
  text-align: center;
  display: flex;
  width: auto;
  aspect-ratio: 1;
  line-height: 1;

  &:focus-within {
    outline: 4px dashed black;
    outline-offset: 1px;
  }
}

@container (width > 720px) {
  #menu-visibility-switch-label {
    display: none;
  }
}

menu-visibility-switch {
  display: contents;
}
