* {
  box-sizing: border-box;
  align-items: start;
  vertical-align: initial;
}

:focus:not(:focus-visible) {
  outline: 0;
}

:where(:focus-visible) {
  outline: 4px dashed black;
  outline-offset: 1px;
}

:where(.content) a {
  @media screen {
    &:focus-visible {
      outline-offset: 4px;
    }
  }

  @media print {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
}

a[target="_blank"] svg {
  vertical-align: middle;
  margin-left: 0.25rem;
}

a {
  text-underline-offset: 4px;

  &:hover {
    text-decoration: none;
  }
}

ul {
  @media screen {
    &.list {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    &:where(:not(.list)) {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

svg {
  @media print {
    display: none;
  }
}

summary {
  @media screen {
    cursor: pointer;
    line-height: 1;
    font: inherit;
  }
}

abbr[title] {
  text-underline-offset: 4px;
}

.visually-hidden {
  @media screen {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  @media print {
    display: none;
  }
}

:root {
  font-family: system-ui, sans-serif;

  @media screen {
    height: 100%;
    display: flex;
    place-items: stretch;
    font: -apple-system-body;
    --safe-area-left: 0px;
    --safe-area-right: 0px;
    --safe-area-left: env(safe-area-inset-left, 0px);
    --safe-area-right: env(safe-area-inset-right, 0px);
    --header-background-color: #252525;
    --page-background-color: white;
    --header-height: calc(2rem + (1.25 * 1rem));
    --sidebar-width: 16rem;
    --sidebar-width: max(16rem, calc(2rem + 30rch));
  }

  @media (max-width: 320px) {
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-wrap: anywhere;
  }
}

body {
  @media screen {
    margin: 0;
    background-color: var(--page-background-color);
    flex: 1 0 100%;
    display: flex;
    place-items: stretch;
    height: 100%;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
}

.container {
  flex: 1 0 100%;
  display: grid;
  grid-template-rows: var(--header-height) auto auto;
  gap: 1rem;
  height: max-content;

  @media screen and (min-width: 48rem) {
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) auto;
  }
}
