* {
  box-sizing: border-box;
  align-items: start;
  vertical-align: initial;
}

:focus:not(:focus-visible) {
  outline: 0;
}

:focus-visible {
  outline: 4px dashed black;
  outline-offset: 1px;
}

:where(.content) a {
  @media screen {
    color: var(--dark-color);

    &:focus-visible {
      outline-offset: 4px;
    }
  }

  @media print {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
}

a[target="_blank"] svg {
  vertical-align: middle;
  margin-left: 0.25rem;
}

ul {
  @media screen {
    &.list {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    &:where(:not(.list)) {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

a {
  text-underline-offset: 4px;

  &:hover {
    text-decoration: none;
  }
}

svg {
  @media print {
    display: none;
  }
}

summary {
  @media screen {
    cursor: pointer;
    line-height: 1;
    font: inherit;
  }
}

.visually-hidden {
  @media screen {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  @media print {
    display: none;
  }
}

:root {
  font-family: system-ui, sans-serif;

  @media screen {
    height: 100%;
    display: flex;
    place-items: stretch;
    font: -apple-system-body;
    --safe-area-left: env(safe-area-inset-left, 0px);
    --safe-area-right: env(safe-area-inset-right, 0px);
    --header-background-color: #252525;
    --page-background-color: white;
    --header-height: calc(2rem + (1.25 * 1rem));
    --sidebar-width: max(16rem, calc(2rem + 30ch));
  }

  @media (max-width: 320px) {
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-wrap: anywhere;
  }
}

body {
  @media screen {
    margin: 0;
    background-color: var(--page-background-color);
    flex: 1 0 100%;
    display: flex;
    place-items: stretch;
    height: 100%;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
}

.container {
  flex: 1 0 auto;
  display: grid;
  grid-template-rows: var(--header-height) auto auto;
  gap: 1rem;
  overflow: hidden;
  width: 100%;
  height: max-content;

  @media screen and (min-width: 48rem) {
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) auto;
  }
}

.page-header {
  @media screen {
    grid-column: 1 / -1;
    display: flex;
    background-color: var(--header-background-color);
    place-content: center;
    padding: 1rem;
    padding-left: var(--safe-area-left);
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.page-heading {
  @media screen {
    margin: 0;
    letter-spacing: 0.15rem;
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  &:focus-visible {
    outline: 4px dashed white;
  }
}

menu-button {
  display: contents;
}

.menu-button {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  cursor: pointer;
  display: flex;
  place-content: center;
  place-items: center;
  gap: 0.75rem;
  font: inherit;
  font-size: 1.125rem;
  line-height: 1;
  padding: 0.125rem 0.5rem;
  margin: 0;
  border: 0;
  height: 100%;
  border: 2px solid;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-wrap: normal;
  max-width: min-content;
  align-self: center;
  justify-self: center;
  background-color: white;
  color: black;

  @media screen and (max-width: 320px) {
    flex-wrap: wrap;
  }

  @media print {
    display: none;
  }

  &:hover {
    background-color: var(--header-background-color);
    color: white;
  }

  &[aria-expanded="true"] {
    background-color: var(--header-background-color);
    color: white;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  &:not([aria-expanded="true"]) [data-show="on"] {
    display: none;
  }

  &[aria-expanded="true"] [data-show="off"] {
    display: none;
  }

  @media screen and (min-width: 48rem) {
    display: none;
  }
}

[data-icon="menu"] {
  width: 1.25rem;
}

[data-icon="close"] {
  width: 1.25rem;
  transform: scale(1.75);
}

nav {
  @media screen and (max-width: calc(48rem - 1px)) {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    max-width: 100%;
    width: var(--sidebar-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--safe-area-left);

    body:has(.menu-button[aria-expanded="false"]) & {
      display: none;
    }
  }

  @media screen and (min-width: 48rem) {
    overflow-y: scroll;
    height: 100%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    position: fixed;
    top: var(--header-height);
    width: var(--sidebar-width);
    max-height: calc(100vh - var(--header-height));
    max-height: calc(100dvh - var(--header-height));
    border-right: 1px solid gray;
    padding-left: var(--safe-area-left);
  }

  @media print {
    display: none;
  }
}

.nav__list {
  @media screen {
    display: grid;
    row-gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media screen and (max-width: calc(48rem - 1px)) {
    body:has(.menu-button:not([aria-expanded="true"])) & {
      display: none;
    }
  }

  @media screen and (min-width: 48rem) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

main {
  @media screen {
    font-size: 1.125rem;
  }

  @media screen and (max-width: calc(48rem - 1px)) {
    grid-row: 3 / 4;
    grid-column: 1 / -1;

    body:has(.menu-button[aria-expanded="true"]) & {
      display: none;
    }
  }

  @media screen and (min-width: 48rem) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}

body:has(.content),
.nav__list-item {
  --base-saturation: 100%;
  --lightest-color-lightness: 95%;
  --lighter-color-lightness: 90;
  --light-color-lightness: 85%;
  --medium-color-lightness: 33.3%;
  --dark-color-lightness: 15%;
  --darker-color-lightness: 10%;
  --darkest-color-lightness: 5%;
  --lightest-color: hsl(
    var(--base-hue),
    var(--base-saturation),
    var(--lightest-color-lightness)
  );
  --lighter-color: hsl(
    var(--base-hue),
    var(--base-saturation),
    var(--lighter-color-lightness)
  );
  --light-color: hsl(
    var(--base-hue),
    var(--base-saturation),
    var(--light-color-lightness)
  );
  --medium-color: hsl(
    var(--base-hue),
    var(--base-saturation),
    var(--medium-color-lightness)
  );
  --dark-color: hsl(
    var(--base-hue),
    var(--base-saturation),
    var(--dark-color-lightness)
  );
  --darker-color: hsl(
    var(--base-hue),
    var(--base-saturation),
    var(--darker-color-lightness)
  );
  --darkest-color: hsl(
    var(--base-hue),
    var(--base-saturation),
    var(--darkest-color-lightness)
  );
}

.nav__list-item {
  @media screen {
    display: block;
    border-radius: 0.5rem;

    &:has(.nav__list-item__details:not([open])) {
      border: 2px solid var(--medium-color);
      color: var(--darkest-color);
      background-color: var(--lightest-color);
    }

    &:has(.nav__list-item__details[open]) {
      border: 2px solid var(--medium-color);
      color: var(--darkest-color);
      background-color: var(--lightest-color);
    }

    &:has(.nav__list-item__summary:hover):has(
        .nav__list-item__details:not([open])
      ) {
      color: black;
      border-color: var(--dark-color);
      background-color: var(--dark-color);

      & .nav__list-item__summary {
        color: white;
      }
    }
  }
}

.nav__list-item__summary {
  @media screen {
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
  }
}

.nav__list-item__definition {
  @media screen {
    padding: 0 1rem 1rem;
    margin: 0;
  }
}

.nav__list-item__sublist {
  @media screen {
    display: grid;
    row-gap: 0.75rem;
    padding: 0 0.75rem 0.75rem;
  }
}

.nav__list-item__sublist-item__link {
  @media screen {
    display: block;
    padding: 0.75rem;
    font-weight: bold;
    border-radius: 0.5rem;
    word-break: break-word;
    color: var(--lighter-color);
    background-color: var(--darker-color);
    border: 2px solid var(--medium-color);
    color: var(--darkest-color);
    background-color: var(--page-background-color);

    &:hover {
      color: white;
      background-color: var(--dark-color);
      border-color: var(--dark-color);
    }
  }
}

.content {
  @media screen {
    line-height: 1.5;
    padding: 0 max(1rem, var(--safe-area-right)) 0 1rem;
  }

  @media screen and (min-width: 48rem) {
    padding: 1rem max(1rem, var(--safe-area-right)) 1rem 1rem;
  }

  @media screen and (min-width: 76rem) {
    padding: 3rem max(1rem, var(--safe-area-right)) 3rem 1rem;
    max-width: 52rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.content:has(#overview) {
  @media screen {
    &:has(h1:focus-visible) {
      outline: 4px dashed;
      outline-offset: 1px;
    }

    & h1:focus-visible {
      outline: 0;
    }
  }
}

.content__header {
  @media screen {
    display: flex;
    margin-bottom: 1rem;
  }
}

.content__header__info {
  flex: 1;
  display: grid;
  place-items: flex-start;
  column-gap: 0.5rem;
  row-gap: 1rem;
  margin-bottom: 0.5rem;
}

.content__tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 0;
}

.content__tag {
  @media screen {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 0.8rem;
    border: 2px solid var(--medium-color);
    background-color: var(--lightest-color);
    color: var(--darkest-color);

    &:hover {
      background-color: var(--dark-color);
      color: white;
    }
  }
}

.content__heading {
  margin: 0;

  @media screen {
    font-weight: normal;
    font-size: 2.25rem;
    line-height: 1.25;

    @media screen and (max-width: 320px) {
      font-size: 1.75rem;
    }
  }
}

.content__heading__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content__links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  @media print {
    display: none;
  }
}

.aria-role__subheading {
  @media screen {
    margin: 0;
    font: inherit;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: inherit;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--dark-color);
  }
}

.aria-role__subheading + p {
  margin: 0.5rem 0;
}

.aria-role__subheading:not(:first-of-type) {
  margin-top: 2rem;
}

.tag-name {
  hyphenate-character: "";
}

abbr[title] {
  text-underline-offset: 4px;
}
