.page-heading {
  @media screen {
    margin: 0;
    letter-spacing: 0.15rem;
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: bold;
    align-self: center;
    color: canvas;
  }

  &:focus-visible {
    outline: 4px dashed;
  }

  @media screen and (width > 720px) {
    text-align: center;
  }
}
