menu-button {
  display: contents;
}

.menu-button {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  cursor: pointer;
  display: flex;
  place-content: center;
  place-items: center;
  gap: 0.75rem;
  font: inherit;
  font-size: 1.125rem;
  line-height: 1;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-wrap: normal;
  width: var(--sidebar-width);
  max-width: calc(
    100vw - 2rem - var(--safe-area-left) - var(--safe-area-right)
  );
  background-color: white;
  color: black;

  @media screen and (max-width: 320px) {
    flex-wrap: wrap;
  }

  @media print {
    display: none;
  }

  &:hover {
    background-color: var(--header-background-color);
    color: white;
  }

  &[aria-expanded="true"] {
    background-color: var(--header-background-color);
    color: white;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  &:not([aria-expanded="true"]) [data-show="on"] {
    display: none;
  }

  &[aria-expanded="true"] [data-show="off"] {
    display: none;
  }

  @media screen and (min-width: 48rem) {
    display: none;
  }
}

[data-icon="menu"] {
  width: 1.25rem;
}

[data-icon="close"] {
  width: 1.25rem;
  transform: scale(1.75);
}
